extends layout

block content
    .container-fluid
        if messages.error
            .alert.alert-danger(role='alert')
                for error in messages.error
                    div= error.msg
        if messages.success
            .alert.alert-success(role='alert')
                for success in messages.success
                    div= success.msg
        if messages.info
            .alert.alert-info(role='alert')
                for info in messages.info
                    div= info.msg

    .parallax
        .captions
            p Memorial
    .parallax2
        .captions2
            p An online memorial <br> For <span>your</span> loved ones <br>Remember them.





//
   Created by sameer on 28/10/2017.

